{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block content %}
  <div class="cards">
    <div class="container">
      <div class="posts">
        {% for post in page_obj %}
          <div class="post-min">
            <div class="row">
              <div class="col-4 post-about">
                <h2 class="title">{{ post.title|truncatechars:40}}</h2>
                {% for tag in post.tags.all %}
                  <span class="minicard lang">{{tag}}</span>
                {% endfor %}
                <div class="btn-send"><a href="{{ post.get_absolute_url }}">Подробнее >></a></div>
              </div>
              <div class="col-8">
                <svg
                 class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                 style="background-image: url(/media/{{ post.main_picture }}); background-size: cover; width: 700px; height: 200px;"
                 width="700" height="200" xmlns="http://www.w3.org/2000/svg"
                 role="img"
                 preserveAspectRatio="xMidYMid slice"
                 focusable="false">
                </svg>
                <p class="post-desc text">{{ post.get_short_text|truncatechars:120 }}...</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <nav aria-label="pagination">
    <ul class="pagination justify-content-center" style="--bs-pagination-bg: rgb(15, 15, 15, 0.9); --bs-pagination-color: white; --bs-pagination-border-color:  rgb(15, 15, 15, 0.9);">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Предыдущая</a></li>
        <li class="page-item "><a class="page-link disable">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li> 
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Первая</a></li>
      {% endif %}
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a></li>
        {% if not page_obj.has_previous %}
          <li class="page-item "><a class="page-link disable">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</a></li> 
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>    
      {% endif %}
    </ul>
  </nav>
{% endblock %}