{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }}
{% endblock title %}


{% block content %}
  <div
    id="intro-example"
    class="intro-example text-center justify-content-center bg-image"
    style="
      background-image: url(/media/{{post.main_picture}});
      background-size: cover;
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); min-height: 400px;">
      <div class="d-flex justify-content-center align-items-center h-100" style="padding-top: 10rem;">
        <div class="text-white">
          <h1 class="mb-3" style="font-size: 80px">{{ post.title }}</h1>
        </div>     
      </div>
        <div class="d-flex text-white justify-content-center" style="padding-top: 6rem;">
          <h6>
            {% for tag in post.tags.all %}
            <div style="padding-right: 1.5rem; float: left;">
              {{ tag }}
            </div>
            {% endfor %}
          </h6>
        </div>
    </div>
  </div>
  <div
    class="d-flex justify-content-center min-vh-100 sticky-top"
    style="background-image: url({% static "img/post_background.png" %}); background-size: cover; background-attachment: fixed;"
    >
    <div class="col-lg-10 mx-auto p-3 py-md-5" style="overflow: hidden; background-color: rgba(0, 0, 0, 0.3);">
      <font color="white">
      <div class="fs-5" >
        {{ post.text | safe}}
      </div>
    </font>
    </div>
  </div>
{% endblock content %}