{% load static %}

<!-- Navbar --> 
<div class="container-fluid align-items-center d-grid gap-3" style="grid-template-columns: 1fr 5fr 9fr;">
  <div class="dropdown">
    <a href="/" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
      <img style="width: 48px; float: left; margin-left: 2rem; margin-right: 1rem;" src="/static/img/favicon/favicon-png-50x50.png">
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink" style="">
      <li><a class="dropdown-item active" href="#" aria-current="page">Overview</a></li>
      <li><a class="dropdown-item" href="/">Главная</a></li>
      <li><a class="dropdown-item" href="#">Экспозиция</a></li>
      <li><a class="dropdown-item" href="#">Галерея</a></li>
      <li><a class="dropdown-item" href="/news/">Новости</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Войти</a></li>
      <li><a class="dropdown-item" href="#">Зарегистрироваться</a></li>
      
    </ul>
  </div> 
  <div class="d-flex align-items-center">
    <form class="w-100 me-3">
      <input type="search" class="form-control" placeholder="Введите ваш запрос..." aria-label="Search" style="float:right"> 
    </form>
    <button class="btn-send btn-outline-success me-3" type="submit">Найти</button>
    
  </div>
  <div class="d-flex justify-content-center">Название</div>
</div>
<!-- Navbar -->
